/* index.css */

/* Join us button */
.info-signup-btn {
    background: rgba(0, 40, 0, 1.0); /* More opaque for better readability */
    color: #ffffff; /* Tekstkleur voor de knop */
    text-decoration: none; /* Verwijdert onderstreping van links */
    padding: 10px 20px; /* Aanpassen padding indien nodig */
    display: inline-block; /* Gebruik flexbox voor centrering */
    justify-content: center; /* Horizontale centrering */
    align-items: center; /* Verticale centrering */
    border: 2px solid transparent; /* Transparante rand voor een gelijkmatige grootte */
    cursor: pointer; /* Verandert cursor naar pointer bij hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease; /* Gladde overgang voor hover effecten */
    border-radius: 25px; /* Afgeronde hoeken voor de knop */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Voegt een subtiele schaduw toe */
    will-change: transform, box-shadow, border-color; /* Optimalisatie voor animaties */
    position: relative; /* Nodig voor positionering van het ::after element */
    overflow: hidden; /* Voorkomt dat inhoud buiten de knop zichtbaar wordt */
}

.info-signup-btn::after {
    content: '>'; /* Pijltje */
    color: #ffffff; /* Witte kleur */
    opacity: 0; /* Begint onzichtbaar */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Overgang voor zichtbaarheid en beweging */
    position: absolute; /* Absolute positionering binnen de knop */
    right: 20px; /* Positie vanaf de rechterkant */
    top: 50%; /* Centreert verticaal */
    transform: translateY(-50%) translateX(0px); /* Startpositie buiten de knop */
}

.info-signup-btn:hover {
    transform: translateY(-5px); /* Verplaatst de knop omhoog bij hover */
    background-color: #ff4500; /* Verandert de achtergrondkleur bij hover */
    border-color: #ffffff; /* Witte rand bij hover */
}

.info-signup-btn:hover::after {
    opacity: 1; /* Maakt het pijltje zichtbaar bij hover */
    transform: translateY(-50%) translateX(15px); /* Eindpositie binnen de knop */
}

.info-signup-btn:focus {
    outline: none; /* Verwijdert de standaard focus outline */
}

/* Logo Styles */
.logo {
    max-width: 200px; /* Slightly larger logo */
    margin: 2rem auto; /* Center logo horizontally */
    display: block; /* Ensures the logo is block-level for margin auto to work */
    opacity: 0.9; /* Adjust opacity as needed */
}

/* News Section Styles */
.news-section {
    width: 75%;
    color: #ffffff; /* Witte tekst voor leesbaarheid */
    margin-top: 75px;
    padding: 40px 0; /* Verticale padding boven, horizontale padding rechts en links, verticale padding onder */
    border-radius: 15px;
}

.news-item {
    background: rgba(12, 12, 12, 0.8); /* Donkere achtergrond met een opacity van 0.8 */
    display: flex;
    align-items: stretch;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 15px; /* Voeg je border-radius toe */
    overflow: hidden; /* Voeg deze regel toe */
    padding: 1rem;
}

.news-section .container {
    max-width: 1200px; /* Maximale breedte van de content */
    margin: 0 auto; /* Centreert de container */
    padding: 0 15px; /* Padding aan de zijkanten */
}

.news-section h2 {
    color: #FFA500; /* Oranje kleur voor de titel */
    text-transform: uppercase; /* Maakt de tekst in hoofdletters */
}

.news-section .news-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Ruimte tussen nieuwsitems */
}

.news-section .news-image {
    flex-shrink: 0; /* Voorkomt dat de afbeelding krimpt */
    margin-right: 20px; /* Ruimte tussen afbeelding en tekst */
    width: 300px; /* Breedte van de nieuwsafbeelding */
    height: 200px; /* Hoogte van de nieuwsafbeelding */
    object-fit: cover; /* Zorgt dat de afbeelding de ruimte vult */
    border-radius: 15px; /* Afgeronde hoeken voor de afbeelding */
}

.news-section .news-content {
    background: none;
    flex: 1; /* Vult de overgebleven ruimte */
}

.news-section .news-content h3 {
    font-size: 1.8rem; /* Lettergrootte voor nieuwsitem titel */
    margin-bottom: 10px; /* Ruimte onder de titel */
}

.news-section .news-date {
    font-size: 1rem; /* Lettergrootte voor de datum */
    color: #CCCCCC; /* Lichtgrijze kleur voor de datum */
    margin-bottom: 10px; /* Ruimte onder de datum */
}

.news-section .read-more {
    font-weight: bold; /* Vetgedrukt voor de 'Lees meer' link */
    color: #FFA500; /* Oranje kleur voor de 'Lees meer' link */
    text-decoration: none; /* Geen onderstreping */
    transition: color 0.3s; /* Overgangseffect voor hover */
}

.news-section .read-more:hover {
    color: #ffffff; /* Witte kleur bij hover */
}
