.container.mt-5 {
    margin-top: 0!important;
}

/* points section */
.points-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.table-rules th.position-header {
    max-width: 25px;
}

/* Logo Styles */
.logo {
    max-width: 200px; /* Slightly larger logo */
    margin: 2rem auto; /* Center logo horizontally */
    display: block; /* Ensures the logo is block-level for margin auto to work */
    opacity: 0.9; /* Adjust opacity as needed */
}

.container.rules-text  {
    margin: 0;
    border-radius: 15px;
    padding: 0;
}

.container.rules-text ul {
    padding-left: 20px;
    list-style-position: inside;
}

.container.rules-text li {
    padding: 0.5rem 1rem; /* Ruime padding rondom de tekst */
    border-radius: 15px; /* Subtiele afgeronde hoeken */
    margin: 1rem 0; /* Ruimte boven en onder de container */
    line-height: 1.6; /* Verbeterde regelhoogte voor leesbaarheid */
    text-align: left; /* Tekst links uitlijnen */

}

.tab-container {
    border-radius: 15px; /* Afgeronde hoeken */
    padding: 20px; /* Binnenruimte */
    margin: 20px; /* Buitenruimte */
    color: #ffffff; /* Witte tekst */
    max-width: 75%;
}

/* Aanpassen voor betere leesbaarheid */
.tab-content > .tab-pane {
    margin-top: 20px; /* Voegt ruimte toe boven de tab content */
}

.tab-content>.active {
    display: flex;
    justify-content: center;
    line-height: 1rem;
}

/* Rules-pc table rules */
.table-rules {
    background: rgba(0, 0, 0, 0.8); /* Donkere semi-transparante achtergrond */
    padding: 1.5rem;
    width: 75%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Adds shadow for depth */
    line-height: 1.5rem;
}

.table-rules th,
.table-rules td {
    padding: 2px; /* Increased padding */
    text-align: center; /* Center align text */
    border: 1px solid #ddd;
}

.table-rules th {
    background-color: rgba(0, 40, 0, 1.0); /* A lighter color for readability */
    color: white;
}


.table-rules td {
    font-size: 1.1rem; /* Slightly larger font size */
}

@media (max-width: 768px) {
    .table-rules, .table-rules th, .table-rules td {
        font-size: 5vw; /* Responsive font size */
    }
}
