/* Standings Styles*/
section#standings.standings-section {
    border-radius: 10px; /* Afgeronde hoeken */
    padding: 20px; /* Binnenruimte */
    margin: 20px; /* Buitenruimte */
    max-width: 90%;
    justify-content: center;
}

.lineup-section {
    border-radius: 10px; /* Afgeronde hoeken */
    padding: 20px; /* Binnenruimte */
    margin: 20px; /* Buitenruimte */
    max-width: 90%;
    justify-content: center;
}

.tab-pane.fade.show.active {
    max-width: 100%;
    justify-content: flex-start;
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

img.standings {
    width: 1024px;
    max-width: 75%;
    border-radius: 15px;
}

img.driver-lineup {
    width: 1024px;
    max-width: 75%;
    border-radius: 15px;
}

.secondary-dropdown {
    background-color: #dddddd; /* Een lichte grijze achtergrond */
    color: #333333; /* Donkergrijze tekst voor leesbaarheid */
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem; /* Afgeronde hoeken */
    border: 1px solid #cccccc; /* Een subtiele border */
    margin: 0.1rem;
    font-weight: 400;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}

.secondary-dropdown::after {
    content: "";
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

/* Race Report Styles */

.race-image {
    width: 1024px;
    max-width: 75%;
    border-radius: 10px;
    height: auto;
}

/* Rules Section Styles */

/* Aanpassen voor betere leesbaarheid */
.tab-content {
    background: transparent;
    border-radius: 15px; /* Afgeronde hoeken */
    padding-bottom: 20px; /* Binnenruimte */
    margin: 20px auto; /* Buitenruimte en centreren */
    max-width: 100%; /* Maximale breedte */
    display: flex; /* Maakt het een flex container */
    flex-direction: column; /* Elementen verticaal stapelen */
    align-items: center; /* Centreert items horizontaal */
    text-align: center; /* Tekst centreren */
}

.tab-content-container {
    margin: 20px auto; /* Buitenruimte en centreren */
    max-width: 90%; /* Maximale breedte */
    color: #fff; /* Witte tekstkleur */
}
